{% extends 'layout.html.twig' %}
{% block title %} {{ "A propos"|trans }} - Eau là là {% endblock %}
{% block about %}active{% endblock %}
{% block body %}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container fs-5 mb-5">
            <div class="row g-5">
                <div class="col-lg-6 wow animated fadeInLeft text-center" data-wow-delay="0.1s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-bottom-right-1 fit-cover"
                             src="{{ asset('images/eaulala.avif') }}" alt="A propos">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row g-5 h-100">
                        <div class="col-12 wow animated fadeInDown" data-wow-delay="0.3s">
                            <div class="p-4 shadow border-bottom-left-1">
                                <h1 class="section-title text-lg-start text-center mb-5">
                                    {{ "Qui sommes-nous"|trans }}
                                </h1>
                                <p class="fs-5 mb-3">
                                    {{"Bienvenue dans le monde novateur d'Eaulàlà," |trans}}
                                    {{"une entreprise pionnière fondée par Konga Alkebulan," |trans}}
                                    {{"un entrepreneur africain visionnaire issu de la diaspora," |trans}}
                                    {{"déterminé à révolutionner l'accès à l'eau potable en Afrique."|trans}}
                                    {{"Enracinée dans une mission humanitaire,"|trans}}
                                    {{"Eaulàlà s'est donné pour objectif ambitieux de doter chaque ménage en Afrique d'une source d'eau potable fiable et durable."|trans}}
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12 wow animated fadeInUp" data-wow-delay="0.5s">
                            <div class="bg-primaire text-secondaire h-100  p-4">
                                {{"Konga Alkebulan, conscient des défis auxquels de nombreuses communautés africaines font face en matière d'eau, a créé Eaulàlà en réponse à la crise de l'eau qui perdure sur le continent."|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt-2">
                <div class="col-lg-12">
                    <p class="mb-5 wow fadeInUp" data-wow-delay="0.1s">
                        {{"Fort de son engagement envers le progrès social et le développement durable,"|trans }}
                        {{"Alkebulan a réuni une équipe d'experts passionnés pour mettre en œuvre des solutions innovantes."|trans }}

                    </p>
                    <p class="mb-5 wow fadeInUp" data-wow-delay="0.3s">
                        {{"Eaulàlà se spécialise dans le forage de puits et la tontinisation de l'eau," |trans}}
                        {{"utilisant des technologies de pointe pour trouver des sources d'eau souterraine inexploitées." |trans}}
                        {{"Grâce à des méthodes durables, l'entreprise parvient à maximiser les rendements tout en minimisant l'impact environnemental." |trans}}
                        {{"Chaque projet est soigneusement conçu pour répondre aux besoins spécifiques de la communauté locale," |trans}}
                        {{"garantissant une approche adaptée et respectueuse de la diversité géographique et culturelle du continent." |trans}}


                    </p>
                    <p class="mb-5 wow fadeInUp" data-wow-delay="0.5s">
                        {{"Ce qui distingue Eaulàlà, c'est son engagement envers l'autonomisation des communautés."|trans }}
                        {{"L'entreprise collabore étroitement avec les habitants,"|trans }}
                        {{"les autorités locales et les organisations non gouvernementales pour assurer la pérennité des projets." |trans }}
                        {{"Des programmes de formation sont mis en place pour garantir que les membres de la communauté sont équipés des connaissances nécessaires pour entretenir et" |trans }}
                        {{"tirer le meilleur parti de leurs nouvelles sources d'eau."|trans }}


                    </p>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <p class="mb-4">
                        {{ "L'impact positif d'Eaulàlà se fait déjà sentir dans de nombreuses régions d'Afrique." |trans }}
                        {{"Des villages autrefois privés d'un accès fiable à l'eau potable voient leur qualité de vie s'améliorer considérablement." |trans}}
                        {{"Les enfants ont désormais plus de temps pour aller à l'école au lieu de parcourir de longues distances pour chercher de l'eau,"|trans }}
                        {{"et les familles peuvent consacrer leurs ressources à d'autres besoins fondamentaux."|trans }}

                    </p>
                    <p class="mb-0">
                        {{"Konga Alkebulan et son équipe chez Eaulàlà sont déterminés à poursuivre leur mission avec passion et dévouement." |trans}}
                        {{"Ils croient en un avenir où l'eau potable n'est plus un luxe, mais un droit fondamental pour chaque citoyen africain." |trans}}
                        {{"Grâce à leur approche innovante et à leur engagement envers la durabilité," |trans}}
                        {{"Eaulàlà s'impose comme un acteur majeur dans la transformation du paysage de l'accès à l'eau en Afrique." |trans}}
                    </p>

                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
                    <div class="h-100">
                        <img class="img-fluid w-100 h-100 fit-cover" src="{{ asset('images/about_2.avif') }}"
                             alt="Eaulàlà">
                    </div>
                </div>
            </div>
            <div class="row g-5 mt-2">
                <div class="col-lg-12 mb-5">
                    <h2 class="mb-5 fw-bold wow fadeInUp" data-wow-delay="0.1s">
                        {{ "Nos Objectifs"|trans }}
                    </h2>
                    <div class="row">
                        <div class="col-1">
                            <h4 class="ms-lg-5 mt-3 wow fadeInLeft" data-wow-delay="0.3s">
                                <i class="fa fa-circle-arrow-right text-primaire"></i>
                            </h4>
                        </div>
                        <div class="col-11">
                            <h4 class="ms-0 mt-3 wow fadeInRight" data-wow-delay="0.3s">
                                {{ "Réduire de 50% le taux de prévalence des maladies hydriques"|trans }}
                            </h4>
                        </div>
                        <div class="col-1">
                            <h4 class="ms-lg-5 mt-3 wow fadeInLeft" data-wow-delay="0.5s">
                                <i class="fa fa-circle-arrow-right text-primaire"></i>
                            </h4>
                        </div>
                        <div class="col-11">
                            <h4 class="ms-0 mt-3 wow fadeInRight" data-wow-delay="0.5s">
                                {{ "Réduire de 50% le taux de mortalité infantile due à l’absence d’eau potable"|trans }}
                            </h4>
                        </div>
                        <div class="col-1">
                            <h4 class="ms-lg-5 mt-3 wow fadeInLeft" data-wow-delay="0.7s">
                                <i class="fa fa-circle-arrow-right text-primaire"></i>
                            </h4>
                        </div>
                        <div class="col-11">
                            <h4 class="ms-0 mt-3 wow fadeInRight" data-wow-delay="0.7s">
                                {{ "Réduire de moitié les distances de parcours à la recherche de l’eau potable"|trans }}
                            </h4>
                        </div>
                        <div class="col-1">
                            <h4 class="ms-lg-5 mt-3 wow fadeInLeft" data-wow-delay="0.9s">
                                <i class="fa fa-circle-arrow-right text-primaire"></i>
                            </h4>
                        </div>
                        <div class="col-11">
                            <h4 class="ms-0 mt-3 wow fadeInRight" data-wow-delay="0.9s">
                                {{ "Contribuer aux efforts des pouvoirs publics et valoriser le développement des énergies vertes suivant les résolutions mondiales sur les changements climatiques"|trans }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-3 about-background">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}



