{% extends 'layout.html.twig' %}
{% block home %}active{% endblock %}
{% block body %}

    <!--PreLoader Ends-->

    <!-- Header Start -->
    <div class="container-fluid p-0 mb-lg-5">
        <div id="header-carousel" class="carousel header-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative active">
                    <div class="carousel-img slide_1 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Avec Eaulàlà, vous avez"|trans }}
                                        <b>{{ "l'assurance"|trans }}</b> {{ "de disposer de la meilleure"|trans }}
                                        <b>{{ "eau potable"|trans }}</b>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_2 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container mx-md-5">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{"Eaulàlà vous procure le"|trans}} <b>{{ "bonheur"|trans}}</b> {{ "de disposer de la meilleure"|trans}} <b class="text-nowrap">{{ "eau potable."|trans}}</b>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_3 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Nous"|trans }}
                                        <b>{{ "garantissons"|trans }}</b> {{ "la conformité aux normes les plus strictes en matière de"|trans }}
                                        <b>{{ "qualité de l'eau"|trans }}</b>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_4 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        La <b>sécurité</b> et la <b>santé</b> {{ "de nos clients demeure notre"|trans }}
                                        <b> priorité</b> principale.
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_5 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Rien de mieux qu'une eau"|trans}} <b>{{ "saine"|trans}} </b>{{ "apres une bonne seance de"|trans}} <b>{{ "sport"|trans }}</b>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true">
                </button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="1" aria-label="Slide 2">
                </button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="2" aria-label="Slide 3">
                </button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="3" aria-label="Slide 4">
                </button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="4" aria-label="Slide 5">
                </button>
            </div>
            <div class="carousel-control">
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-fluid py-4 mt-lg-5 mb-5">
        <div class="container mt-lg-5">
            <div class="row g-4">
                <div class="col-lg-6 wow animated fadeInLeft text-center" data-wow-delay="0.1s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-bottom-right-1 fit-cover"
                             src="{{ asset('images/eaulala.avif') }}" alt="A propos">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="row g-4">
                        <div class="col-12 wow animated fadeInDown" data-wow-delay="0.3s">
                            <div class="p-4 shadow border-y-1">
                                <h1 class="section-title text-lg-start text-center mb-5">
                                    {{ "Qui sommes-nous"|trans }}
                                </h1>
                                <p class="fs-5 mb-3">
                                    {{ "Dans un monde en constante évolution, où les défis environnementaux et sociaux semblent se multiplier, l'accès à l'eau potable demeure un besoin essentiel et non négociable pour chaque individu."|trans }}
                                    {{ "C'est dans ce contexte que l'entreprise Eaulàlà s'est engagée à voler au secours des populations en leur procurant une eau potable de qualité supérieure, et ce, de manière durable et responsable."|trans }}
                                </p>
                                <a class="btn btn-primaire mt-4 p-3" href="{{ path('About') }}">
                                    {{ "En savoir plus ..."|trans }}
                                </a>
                            </div>

                        </div>
                        <div class="col-md-12 wow animated fadeInUp" data-wow-delay="0.5s">
                            <div class="bg-primaire h-100  p-4">
                                {{ "Forte de sa vision humaniste, Eaulàlà s'est donné pour mission de relever les défis liés à l'eau et de soulager les communautés en situation de crise."|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid banner d-flex justify-content-center align-items-center">
        <div class="container my-4 py-5">
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-blanc-8 p-5 shadow border-y-2 wow animated fadeInLeft" data-wow-delay="0.5s">
                        <h1 class="section-title text-center mb-5">
                            {{ "Potabilite"|trans }}
                        </h1>
                        <p class="fs-5">
                            {{ "Eaulàlà effectue"|trans }}
                            <b> {{ "des tests de potabilité de l'eau,"|trans }}</b>
                            {{ "offrant ainsi des services de pointe pour garantir la"|trans }}
                            <b>{{ "qualité et la sécurité de l'eau potable"|trans }}</b>.
                            {{ "Grâce à notre expertise et à notre engagement envers la santé publique, nous fournissons des solutions de contrôle de la"|trans }}
                            <b>{{ "qualité de l'eau"|trans }}</b> {{ "essentielles pour les collectivités, les entreprises et les particuliers."|trans }}
                        </p>
                        <a class="btn btn-primaire mt-4" href="{{ path('Potabilite') }}"> {{ "Découvrir"|trans }} </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid py-4 mb-5 nappe">
        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="p-5 h-100  bg-white shadow border-y-1">
                        <h1 class="section-title mb-5">
                            {{ "Nappe d'eau potable"|trans }}
                        </h1>
                        <p class="fs-5 mb-4">
                            {{ "Chez Eaulàlà nous disposons d'"|trans }}
                            <b>{{ "appareils de détection de nappe d'eau potable"|trans }}</b> {{ " équipés de capteurs sophistiqués qui vont "|trans }}
                            <b> {{ " jusqu'a 1 500 metres de profondeur"|trans }}</b> {{ "sur une surface de"|trans }}
                            <b> {{ "3 000 metres carre"|trans }}</b> {{ "  a la recherche d'eau potable."|trans }}<br>
                            {{ "Ainsi nos appariels ne se limitent pas a la nappe phreatique et  vont jusqu'a la nappe aquifère pour trouver de l'eau potable"|trans }}
                            <br>
                            {{ "Notre entreprise utilise des"|trans }}
                            <b>{{ "techniques de pointe"|trans }}</b> {{ "pour cartographier et identifier les nappes d'eau potable, garantissant ainsi un approvisionnement en"|trans }}
                            <b>{{ " eau fiable et durable"|trans }} </b>{{ "pour une variété d'applications."|trans }}
                        </p>
                        <a class="btn btn-primaire mt-4 p-3" href="{{ path('Nappe') }}">
                            {{ "En savoir plus ..."|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight text-center" data-wow-delay="0.3s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/nappe.jpeg') }}" alt="nappe d'eau potable">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 mb-5">
        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInLeft text-center" data-wow-delay="0.3s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/forage.avif') }}" alt="nappe d'eau potable">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="p-5 h-100 border-bottom-left-1 bg-white">
                        <h1 class="section-title mb-5">
                            {{ "Forage d'eau potable"|trans }}
                        </h1>
                        <p class="fs-5 mb-3">
                            {{ "Plongez dans l'univers de nos forages au service de l'accès à une eau potable de qualité avec
                        Eaulàlà. Découvrez comment notre expertise en matière de forage nous permet d'atteindre des
                        sources
                        d'eau précieuses, même dans les endroits les plus reculés. Chacun de nos forages est une étape
                        vers
                        la réalisation de notre vision : un monde où chaque individu a accès à une eau potable sûre et
                        durable."|trans }}
                        </p>
                        <a class="btn btn-primaire mt-4 p-3" href="{{ path('Forage') }}">
                            {{ "En savoir plus ..."|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 mb-5">
        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-8 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="p-4 h-100 border-bottom-left-1 bg-white">
                        <h1 class="section-title text-lg-start mb-5">
                            {{ "Distribution d'eau potable"|trans }}
                        </h1>
                        <p class="fs-5 mb-3">
                            {{ "Il est impératif de reconnaître que l'accès à l'eau potable constitue un besoin fondamental, inaliénable pour chaque être humain."|trans }}
                            {{ "Au sein de ce contexte complexe, l'entreprise Eaulàlà a pris sur elle la mission cruciale de"|trans }}
                            <b>{{ " distribuer"|trans }}</b> {{ "aux populations une "|trans }}
                            <b> {{ "eau potable" |trans }}</b> {{ "de qualité supérieure." |trans }}
                        </p>
                        <a class="btn btn-primaire mt-4 p-3" href="{{ path('Distribution') }}">
                            {{ "En savoir plus ..."|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInRight text-center" data-wow-delay="0.3s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-top-right-1 fit-cover"
                             src="{{ asset('images/distribution_home.avif') }}" alt="nappe d'eau potable">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid client-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="client-inner py-3 pe-5 animated slideInLeft" data-wow-delay="0.2s">
                        <div class="text-center mb-5 mt-5 animated slideInLeft" data-wow-delay="0.3s">
                            <h1 class="section-title text-center text-secondaire px-3 mb-5">
                                {{ "Clients"|trans }}
                            </h1>
                        </div>
                        <div class="ms-lg-5 ms-md-4 ms-3 text-secondaire">
                            <p class="fs-5 pe-5 wow fadeInLeft" data-wow-delay="0.5s">
                                {{ "Eaulàlà, votre partenaire en eau potable, s'engage à fournir une eau de qualité supérieure de manière durable et responsable. Nous intervenons en cas de crise et sensibilisons à l'importance de l'eau tout en préservant l'environnement. Rejoignez-nous pour un avenir où chaque goutte compte."|trans }}
                            </p>

                            <div class="text-center">
                                <a class="btn btn-secondaire mt-5 mb-5" href="{{ path('Client') }}">
                                    {{ "Plus de détails ..."|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- row -->
    </div>

    <!-- Gallery End -->

{% endblock %}