{% extends 'layout.html.twig' %}
{% block title %} {{ "Carrières"|trans }}  - Eau là là {% endblock %}
{% block carriere %}active{% endblock %}
{% block body %}

    <div class="services section-padding mb-5">
        <div class="col-10 offset-1">
            <div class="row justify-content-center p-5">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message|trans }}
                    </div>
                {% endfor %}

                <div class="col-lg-6 ">
                    {{ form_start(form, {'attr':{'id': 'form'}}) }}
                    <div class="mt-4">
                        {{ form_row(form.nom, {'label': 'Nom', 'attr': {'placeholder':'Nom'}}) }}
                    </div>
                    <div class="mt-4">
                        {{ form_row(form.prenom, {'label': 'Prénom', 'attr': {'placeholder':'Prénom'}}) }}
                    </div>
                    <div class="mt-4">
                        {{ form_row(form.datnaiss, {'label': 'Date de naissance', 'attr': {'placeholder':'Date de naissance'}}) }}
                    </div>
                    <div class="mt-4">
                        {{ form_row(form.lieunaiss, {'label': 'Lieu de naissance', 'attr': {'placeholder':'Votre lieu de naissance'}}) }}
                    </div>
                    <div class="mt-4">
                        {{ form_row(form.activite, {'label': 'Votre domaine d\'activité', 'attr': {'placeholder':'Votre domaine d\'activité'}}) }}
                    </div>
                    <div class="mt-4">
                        {{ form_row(form.niveau, {'label': 'Votre Niveau d\'etude', 'attr': {'placeholder':'Votre Niveau d\'etude'}}) }}
                    </div>
                    <div class="mt-4">
                        {{ form_row(form.cv, {'label': false, 'attr': {'onchange':'label_input()'}}) }}
                        <button type="button" class="btn btn-primaire px-3 py-2" onclick="upload()">
                            {{ "Ajoutez votre CV"|trans }}
                            <i class="fa fa-upload"></i>
                        </button>
                        <label id="choice"></label>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primaire mt-4 px-5 py-3">
                            {{"Soumettre"|trans}} <i class="fa fa-chevron-circle-right ml-1 mt-n1 align-middle"></i>
                        </button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
