{% extends 'layout.html.twig' %}
{% block title %} {{ "Carrières"|trans }}  - Eau là là {% endblock %}
{% block carriere %}active{% endblock %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid py-5 mb-5 page-header">
        {{ include('site/page-header.html.twig') }}
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-5 text-white fw-bold mt-5 mb-3 animated zoomIn">
                        {{ "Carrières"|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item text-white">
                                {{ "Carrières"|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 wow fadeInRight" data-wow-delay="0.3s">
                    <nav>
                        <div class="nav nav-tabs flex-column mt-5 align-items-baseline" id="nav-tab" role="tablist">
                            <button class="nav-link w-100 active border-top-left-1" id="nav-business-tab" data-bs-toggle="tab" data-bs-target="#nav-eco-forage" type="button" role="tab" aria-controls="nav-business" aria-selected="true">
                                <span class=" fs-4 fw-semibold text-primaire">
                                    {{ "Culture d'Entreprise"|trans}}
                                </span>
                            </button>
                            <button class="nav-link w-100  border-top-left-1" id="nav-strategy-tab" data-bs-toggle="tab" data-bs-target="#nav-electro-forage" type="button" role="tab" aria-controls="nav-strategy" aria-selected="false">
                                <a href="{{ path('Carriere_offre') }}">
                                    <span class="fs-4 fw-semibold text-primaire">
                                        {{ "Offres d'Emploi"|trans}}
                                    </span>
                                </a>
                            </button>
                            <button class="nav-link w-100 border-top-left-1" id="nav-video-tab" data-bs-toggle="tab" data-bs-target="#nav-eco-puits" type="button" role="tab" aria-controls="nav-video" aria-selected="false">
                                <a href="{{ path('Carriere_candidature') }}">
                                    <span class="fs-4 fw-semibold text-primaire">
                                        {{ "Canditure Spontanée"|trans}}
                                    </span>
                                </a>
                            </button>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-9 col-12 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-eco-forage" role="tabpanel" aria-labelledby="nav-intro-tab">

                            <div class="row">
                                <div class="col-lg-12">

                                    <p class="mb-4 mt-5">
                                        {{ 'Chez EAULALA, nous aspirons à un monde où chaque individu a un accès inconditionnel à de l\'eau potable de qualité.'|trans }}
                                        {{ 'Nous croyons en la possibilité de façonner un avenir plus durable et inclusif grâce à notre engagement inébranlable envers cette ressource essentielle.'|trans }}
                                        {{ 'Voici un aperçu de notre culture d\'entreprise et des avantages que nous offrons à nos précieux collaborateurs :'|trans }}
                                    </p>
                                    <p class="mb-2">
                                        <b>1. {{ 'Intégrité '|trans }}
                                            :</b> {{ 'Nous plaçons l\'intégrité au cœur de tout ce que nous faisons. '|trans }}
                                        {{ ' Notre engagement à fournir une eau potable de qualité supérieure et à opérer de manière durable est inébranlable.'|trans }}

                                    </p>
                                    <p class="mb-2">
                                        <b>2. {{ 'Responsabilité'|trans }}
                                            :</b> {{ 'Nous nous sentons responsables envers l\'humanité et la planète.'|trans }}
                                        {{ 'Chacune de nos actions est guidée par la responsabilité envers les communautés que nous servons et l\'environnement que nous préservons.'|trans }}

                                    </p>
                                    <p class="mb-2">
                                        <b>3. {{ 'Innovation '|trans }}
                                            :</b> {{ 'Nous sommes des innovateurs déterminés. '|trans }}
                                        {{ 'Nous cherchons constamment des moyens d\'améliorer nos pratiques et de repousser les limites pour garantir un accès à l\'eau potable de qualité.'|trans }}
                                    </p>
                                    <p class="mb-2">
                                        <b>4. {{ 'Collaboration'|trans }}
                                            :</b> {{ 'Nous croyons en la puissance de la collaboration. '|trans }}
                                        {{ 'Nous travaillons en partenariat avec des organisations, des communautés et des individus partageant les mêmes idéaux pour maximiser notre impact.'|trans }}
                                        <br><br>
                                        <b>5. {{ 'Notre Engagement Social et Environnemental'|trans }}
                                            :</b> {{ 'EAULALA s\'engage à contribuer positivement à la société et à l\'environnement.'|trans }}
                                        {{ 'Nous investissons dans des projets de développement durable, organisons des campagnes de sensibilisation et intervenons en cas de crises pour soutenir les communautés en besoin.'|trans }}
                                    </p>
                                    <p class="mb-2">
                                        <b>6. {{ 'Avantages Compréhensifs'|trans }}
                                            :</b> {{ 'Nous valorisons nos employés et c\'est pourquoi nous offrons des avantages complets, des programmes de bien-être, des opportunités de développement de carrière, et plus encore.'|trans }}
                                        {{ 'Nous sommes déterminés à soutenir la santé et le bien-être de nos employés à chaque étape de leur parcours.'|trans }}
                                    </p>
                                    <p class="mb-2">
                                        <b>7. {{ 'Notre Équipe'|trans }}
                                            :</b> {{ 'Notre équipe est notre atout le plus précieux. '|trans }}
                                        {{ 'Chaque employé est conscient de l\'importance de son rôle dans la création de solutions médicales qui changent la vie des gens.'|trans }}
                                        {{ ' Nous encourageons un environnement de travail inclusif, où la diversité est célébrée, les idées sont encouragées, et le bien-être de nos collaborateurs est primordial.'|trans }}
                                    </p>
                                    <p class="mt-4">
                                        {{ 'La culture d\'entreprise d\'EAULALA est ancrée dans des valeurs solides, une mission humaniste et une vision de l\'avenir que nous aspirons à réaliser. '|trans }}
                                        {{ ' Notre engagement envers la fourniture d\'eau potable de qualité, de manière durable et responsable, nous unit dans une quête pour un monde meilleur, un verre d\'eau à la fois. '|trans }}
                                        <br>
                                        {{ 'Rejoignez-nous pour faire partie de cette aventure. '|trans }}
                                        <br>
                                        {{ 'EAULALA, pour un avenir où l\'accès à une eau potable de qualité est une réalité pour tous.'|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                       </div>
                </div>

            </div>
        </div>
    </div>




    <!-- About End -->
{% endblock %}
