{% extends 'layout.html.twig' %}
{% block title %} {{ "Carrières Candidature"|trans }}  - Eau là là {% endblock %}
{% block carriere %}active{% endblock %}
{% block body %}
    <!-- Header Start -->

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mx-auto mb-5">
                    <h2 class="section-title bg-white text-lg-center pe-3 mb-3 mt-5">
                        {{ "Carrière"|trans }}
                    </h2>
                </div>
                <div class="col-12">
                    <div class="carriere mb-5">
                        <div class="row g-3 w-100 no-me">
                            <div class="col-lg-4 col-12">
                                <div>
                                    <a href="{{ path('Carriere_culture') }}">
                                        <div class="carriere_item border-top-left-3">
                                            <h4>{{ "Culture d'entreprise"|trans }}</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div>
                                    <a href="{{ path('Carriere_offre') }}">
                                        <div class="carriere_item border-top-left-3">
                                            <h4>{{ "Offres d'emploi"|trans }}</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div>
                                    <a href="{{ path('Carriere_candidature') }}">
                                        <div class="carriere_item border-top-left-3">
                                            <h4>{{ "Canditure spontanée"|trans }}</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- About End -->
{% endblock %}
