{% extends 'layout.html.twig' %}
{% block title %} {{ "Distribution"|trans }}  - Eau là là {% endblock %}
{% block distribution %}active{% endblock %}
{% block body %}
    <!-- Header Start -->




    <div class="container-fluid distribution-banner d-flex justify-content-center align-items-center">
        <div class="container my-4 py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 shadow border1 fs-5">

                        <h1 class="text-center mb-5">
                            {{ "Distribution"|trans }}

                        </h1>

                        <p class="mb-4 mt-5">

                            {{ "Dans un monde en constante évolution, marqué par des défis environnementaux croissants et des problèmes sociaux en constante mutation, il est impératif de reconnaître que l'accès à l'eau potable constitue un besoin fondamental, inaliénable pour chaque être humain. L'eau est le socle de la vie, une ressource qui transcende les frontières et qui est au cœur de la survie de notre planète et de ses habitants."|trans }}

                        </p>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border2 fs-5">

                        <p class="mb-4">

                            {{ "Au sein de ce contexte complexe, l'entreprise Eaulàlà a pris sur elle la mission cruciale de secourir les populations en leur fournissant une eau potable de qualité supérieure, et ce, d'une manière qui soit à la fois durable et responsable. Notre engagement envers cette mission repose sur une compréhension profonde de l'eau en tant que bien universel et vital. Nous percevons l'eau comme bien plus qu'une simple ressource. Elle est la source de la vie, la base de la santé, l'élément clé du bien-être et le vecteur de progrès pour les sociétés et les écosystèmes."|trans }}
                        </p>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border3 fs-5">

                        <p class="mb-4">

                            {{ "Notre engagement envers la préservation de cette ressource précieuse imprègne chacune de nos actions. Dès la purification de l'eau, où nous utilisons des technologies avancées pour garantir une qualité irréprochable, jusqu'à la sensibilisation du public sur l'importance cruciale de la conservation de l'eau, Eaulàlà s'inscrit dans une démarche globale de protection de l'environnement et de responsabilité sociale."|trans }}
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- About End -->
{% endblock %}
