{% extends 'layout.html.twig' %}
{% block title %} {{ "FAQ"|trans }}  - Eau là là {% endblock %}
{% block faq %}active{% endblock %}
{% block body %}

    <div class="container-fluid faq-banner p-5">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="faq-title mb-5 p-5">
                    <h1 class="text-center text-secondaire section-title mt-5">
                        {{ "Foire aux questions"|trans }}
                        <i class="fa-solid fa-circle-question"></i>
                    </h1>
                    <p class="text-center text-secondaire fs-4 mt-5">
                        {{ "Réponses aux interrogations courantes que vous pouvez avoir"|trans }}
                    </p>
                </div>
            </div>
            <div class="accordion accordion-flush" id="accordionfaq">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsefive" aria-expanded="false"
                                        aria-controls="flush-collapsefive">
                                    {{ "Qu'est-ce qu'Eaulàlà et quelle est sa mission principale?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapsefive" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Eaulàlà est une entreprise engagée dans la fourniture d'eau potable de qualité supérieure de manière durable et responsable."|trans }}
                                        {{ "Notre mission principale est de répondre aux besoins en eau potable tout en minimisant notre impact sur l'environnement."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsesix" aria-expanded="false"
                                        aria-controls="flush-collapsesix">
                                    {{ "Comment Eaulàlà garantit-elle la qualité de son eau potable?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapsesix" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Nous utilisons des technologies avancées de purification de l'eau et nous nous conformons aux normes les plus strictes pour garantir la qualité de notre eau."|trans }}
                                        {{ "Des contrôles réguliers sont effectués pour s'assurer de la pureté de l'eau que nous fournissons."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseseven" aria-expanded="false"
                                        aria-controls="flush-collapseseven">
                                    {{ "En quoi consiste l'engagement de durabilité environnementale d'Eaulàlà?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapseseven" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Eaulàlà s'engage à réduire son empreinte environnementale en adoptant des pratiques durables telles que la gestion efficace de l'eau et la réduction des déchets."|trans }}
                                        {{ "Nous cherchons à minimiser notre impact sur la planète."|trans }}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseheight" aria-expanded="false"
                                        aria-controls="flush-collapseheight">
                                    {{ "Comment Eaulàlà réagit-elle en cas de catastrophes naturelles ou de crises liées à l'eau?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapseheight" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Nous avons des protocoles d'intervention d'urgence bien établis pour réagir rapidement en cas de crises."|trans }}
                                        {{ "Notre objectif est de fournir de l'eau potable aux communautés touchées et d'aider à soulager les situations de crise."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsefor" aria-expanded="false"
                                        aria-controls="flush-collapsefor">
                                    {{ "Comment puis-je contacter Eaulàlà en cas de questions supplémentaires ou de besoins spécifiques?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapsefor" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Vous pouvez nous contacter via notre site web ou en utilisant les coordonnées fournies sur la page de contact."|trans }}
                                        {{ "Notre équipe est là pour répondre à toutes vos questions et préoccupations."|trans }}

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    {{ "Comment puis-je contribuer à la mission d'Eaulàlà en tant que client?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "En choisissant Eaulàlà, vous soutenez notre mission humaniste."|trans }}
                                        {{ "Vous pouvez également participer à nos campagnes de sensibilisation, aider à économiser l'eau et être conscient de l'importance de la conservation de l'eau."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    {{ "Où puis-je trouver des informations sur les performances sociales et environnementales d'Eaulàlà?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Vous pouvez trouver des informations transparentes sur nos performances sur notre site web."|trans }}
                                        {{ "Nous publions régulièrement des rapports sur nos actions sociales et environnementales pour que nos clients soient informés."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    {{ "Comment Eaulàlà utilise-t-elle ses bénéfices pour des projets de développement durable?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Une partie de nos bénéfices est réinvestie dans des projets visant à améliorer l'accès à l'eau potable dans les régions défavorisées."|trans }}
                                        {{ "En tant que client, vous contribuez indirectement à ces initiatives."|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsenine" aria-expanded="false"
                                        aria-controls="flush-collapsenine">
                                    {{ "Comment faire pour accéder à l'eau potable?"|trans }}

                                </button>
                            </h2>
                            <div id="flush-collapsenine" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Pour plus d'information veuillez-nous contacter directement dans la page contact"|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseten" aria-expanded="false"
                                        aria-controls="flush-collapseten">
                                    {{ "Combien devra me coûter mon accès à l'eau potable et pour combien de temps?"|trans }}
                                </button>
                            </h2>
                            <div id="flush-collapseten" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionfaq">
                                <div class="accordion-body">
                                    <p>
                                        {{ "Pour plus d'information veuillez-nous contacter directement sur la page"|trans }}
                                        <a href="{{ path('Contact') }}">contact</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <!-- About End -->
{% endblock %}
