{% extends 'layout.html.twig' %}
{% block title %} {{ "Forage"|trans }}  - Eau là là {% endblock %}
{% block forage %}active{% endblock %}

{% block body %}


    <div class="container-fluid py-5">


        <div class="container fs-5 mb-5">
            <div class="col-lg-12 wow fadeInRight " data-wow-delay="0.3s">

                <div class="p-5 h-100  bg-white shadow border-y-1">
                    <h6 class=" fs-4 mb-4">
                        {{ "Plongez dans l'univers de nos forages au service de l'accès à une eau potable de qualité avec
                        EAULALA. Découvrez comment notre expertise en matière de forage nous permet d'atteindre des
                        sources
                        d'eau précieuses, même dans les endroits les plus reculés. Chacun de nos forages est une étape
                        vers
                        la réalisation de notre vision : un monde où chaque individu a accès à une eau potable sûre et
                        durable."|trans }}
                        {#Parcourez cette page pour en apprendre davantage sur notre processus de forage, notre
                        technologie de pointe et l'impact positif que nous créons ensemble. Rejoignez-nous pour faire de
                        cette vision une réalité.#}
                    </h6>

                </div>
                <div class="row gx-5 gy-3">

                    <div class="col-lg-12">
                        <div id="forages" class="mt-5">
                            <h2 class="text-center fw-bold wow fadeInUp" data-wow-delay="0.1s">
                                {{ "Eco forage"|trans }}
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="border-y-1">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/eco-forage-1.avif') }}" alt="eau la la">
                            <ul class="ps-0 mb-4">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Forage d'eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe solaire"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Batterie"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Suppresseur"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6  mt-5 wow fadeInRight" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/eco-forage-2.avif') }}" alt="eau la la">
                            <ul class="ps-0">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Forage d'eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe solaire"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Batterie"|trans }}
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-12 mt-5">
                        <h2 class="text-center mt-5 fw-bold wow fadeInUp" data-wow-delay="0.1s">
                            {{ "Electro forage"|trans }}
                        </h2>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/electro-forage-1.avif') }}" alt="eau la la">
                            <ul class="ps-0 mb-4">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Forage d'eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe electrique"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Suppresseur"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInRight" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/electro-forage-2.avif') }}" alt="eau la la">
                            <ul class="ps-0">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Forage d'eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe electrique"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-5">
                        <div id="puits" class="mt-5">
                            <h2 class="text-center mt-5 fw-bold wow fadeInUp" data-wow-delay="0.1s">
                                {{ "Eco Puits"|trans }}
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/eco-puits-1.avif') }}" alt="eau la la">
                            <ul class="ps-0 mb-4">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Puits aménagé"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe solaire"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Suppresseur"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInRight" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/eco-puits-2.avif') }}" alt="eau la la">
                            <ul class="ps-0">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Puits aménagé"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe solaire"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-5">
                        <h2 class="text-center mt-5 fw-bold wow fadeInUp" data-wow-delay="0.1s">
                            {{ "Electro Puits"|trans }}
                        </h2>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/electro-puits-1.avif') }}" alt="eau la la">
                            <ul class="ps-0 mb-4">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Puits aménagé"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe electrique"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Suppresseur"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 wow fadeInRight" data-wow-delay="0.1s">
                        <div class="border-y-1 h-100">
                            <img class="shadow mb-3 mt-2 w-100 fit-cover"
                                 src="{{ asset('images/electro-puits-2.avif') }}" alt="eau la la">
                            <ul class="ps-0">
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire"></i>
                                    {{ "Puits aménagé"|trans }}
                                </li>
                                <li><i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Installation de la pompe electrique"|trans }}
                                </li>
                                <li>
                                    <i class="fa fa-circle-arrow-right me-2 text-primaire mt-3"></i>
                                    {{ "Château d’eau"|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
