{% extends 'layout.html.twig' %}
{% block title %} {{ "Nappe"|trans }}  - Eau là là {% endblock %}
{% block nappe %}active{% endblock %}

{% block body %}
    <div class="container-fluid py-4 mb-5">
        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="p-5 h-100 bg-white shadow border-primaire">
                        <h1 class="section-title mb-5">
                            {{ "Nappe d'eau potable"|trans }}
                        </h1>
                        <p class="fs-5 mb-4">
                           <b>{{ "Chez Eaulàlà" |trans}}</b>, <b> {{ "notre engagement"|trans}} </b>{{"envers la santé de votre communauté est notre priorité absolue."|trans}}
                            {{ "Nous sommes fiers de présenter notre technologie de recherche d'eau potable," |trans}} <b>{{"une innovation révolutionnaire" |trans}}</b>, {{"qui va au-delà des normes actuelles."|trans}}
                            {{"Voici cinq dimensions uniques qui font de notre" |trans}} <b> {{"technologie la meilleure sur le marché de la CEMAC." |trans}}</b>
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight text-center" data-wow-delay="0.3s">
                    <div class="h-100 shadow">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/nappe.avif') }}" alt="nappe d'eau potable">
                    </div>

                </div>
            </div>
            <div class="row g-4 my-5">


                <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100  bg-white shadow border-x-1">
                        <h6 class="fs-2 mb-4">
                            {{"Nos équipes recherchent l'eau potable jusqu'à la nappe aquifère, qui est beaucoup plus profondes que la nappe phréatique souvent polluée."|trans}}
                        </h6>

                    </div>
                </div>
            </div>
            <div class="row g-4 my-5">


                <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100  bg-white shadow border-y-1">
                        <h2 class="section-title bg-white text-lg-start mb-3">
                            {{ "identification des nappes d'eau"|trans }}
                        </h2>

                        <p class="mb-4">
                            <b>1. {{"Élimination automatique des nappes phréatiques à risque"|trans }}
                            </b>
                            <br>{{"La sécurité de l'eau potable est essentielle."|trans }} {{"Notre technologie élimine d'office les nappes phréatiques présentant un risque d'insalubrité,"|trans }} {{"assurant ainsi que seules les sources d'eau sûres sont prises en considération."|trans }}

                        </p>
                        <p class="mb-4">
                            <b>2. {{"Identification précise des nappes aquifères potables"|trans }}
                            </b>
                            <br>{{"Nous allons au-delà des attentes en identifiant avec précision les nappes aquifères contenant exclusivement de l'eau potable,"|trans }} {{"et ce,"|trans }} {{"jusqu'à une profondeur impressionnante de 1.5 km (1500 m)."|trans }} {{"Cette précision garantit la qualité de l'eau pour votre communauté."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>3. {{"Sélection des nappes les plus potables"|trans }} </b> <br>
                            {{"Notre technologie ne se contente pas d'identifier les nappes aquifères potables,"|trans }} {{ "elle choisit également celles offrant la meilleure qualité."|trans }} {{ "Nous nous assurons que votre communauté accède à une eau potable d'une pureté exceptionnelle."|trans }}


                        </p>
                        <p class="mb-4">
                            <b>4. {{"Optimisation de l'abondance"|trans }} </b> <br>
                            {{ "Nous allons plus loin en sélectionnant la nappe la plus abondante parmi celles identifiées comme les plus potables."|trans }} {{"Cela garantit un approvisionnement en eau fiable et suffisant pour répondre aux besoins de votre communauté."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>5. {{"Économie maximale avec le choix du point de forage"|trans }} </b> <br>
                            {{"Notre technologie va même jusqu'à identifier le point de forage le plus économique pour atteindre la nappe sélectionnée."|trans }} {{"Cela se traduit par des coûts réduits et une efficacité maximale dans la réalisation de votre projet d'accès à l'eau potable."|trans }}
                        </p>
                        <p class="mb-4">
                            {{ "Les merveilles de notre machine de recherche d'eau potable sont inégalées sur le marché de la CEMAC."|trans }} {{ "Aucune autre compagnie ne peut offrir une telle combinaison de précision, de qualité et d'économie."|trans }} {{"Chez Eaulàlà, la santé de votre communauté est au cœur de chaque action que nous entreprenons."|trans }} {{"Faites confiance à notre expertise pour garantir un accès durable à une eau potable de la plus haute qualité."|trans }}

                        </p>


                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}