{% extends 'layout.html.twig' %}
{% block title %} {{ "Nappe"|trans }}  - Eau là là {% endblock %}
{% block nappe %}active{% endblock %}

{% block body %}
    <div class="container-fluid py-4 mb-5">
        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="p-5 h-100 bg-white shadow border-primaire">
                        <h1 class="section-title mb-5">
                            {{ "Nappe d'eau potable"|trans }}
                        </h1>
                        <p class="fs-5 mb-4">
                            {{ "Chez Eaulàlà, nous disposons d'"|trans }}
                            <b>{{ "appareils de détection de nappe d'eau potable"|trans }}</b> {{ "équipés de capteurs sophistiqués qui vont"|trans }}
                            <b> {{ "jusqu'à 1 500 mètres de profondeur"|trans }}</b> {{ "sur une surface de"|trans }}
                            <b> {{ "3 000 mètres carrés"|trans }}</b> {{ "à la recherche d'eau potable."|trans }}<br>
                            {{ "Ainsi nos appariels ne se limitent pas à la nappe phréatique et vont jusqu'aux confins des nappes aquifères pour selectioner la nappe d'eau potable la plus abondante."|trans }}
                            <br>
                            {{ "Notre entreprise utilise des"|trans }}
                            <b>{{ "techniques de pointe"|trans }}</b> {{ "pour cartographier et identifier les nappes d'eau potable, garantissant ainsi un approvisionnement en"|trans }}
                            <b>{{ "eau fiable et durable"|trans }} </b>{{ "pour une variété d'applications."|trans }}
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight text-center" data-wow-delay="0.3s">
                    <div class="h-100 shadow">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/nappe.avif') }}" alt="nappe d'eau potable">
                    </div>

                </div>
            </div>
            <div class="row g-4 my-5">


                <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100  bg-white shadow border-x-1">
                        <h6 class="fs-2 mb-4">
                            {{"Nos équipements recherchent l'eau potable jusqu'aux l'aquifères, qui sont beaucoup plus profondes que la nappe phréatique souvent polluée."|trans}}
                        </h6>

                    </div>
                </div>
            </div>
            <div class="row g-4 my-5">


                <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100  bg-white shadow border-y-1">
                        <h2 class="section-title bg-white text-lg-start mb-3">
                            {{ "identification des nappes d'eau"|trans }}
                        </h2>

                        <p class="mb-4">
                            <b>1. {{ "Profondeur"|trans }}
                            </b>
                            <br>{{ "Nos appareils peuvent rechercher de l'eau souterraine jusqu'à une profondeur de 1 500 mètres sous la surface de la terre."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>2. {{ "Portée frontale"|trans }}
                            </b>
                            <br>{{ "Ils scannent la zone allant jusqu'à 3 000 mètres carrés à partir de leur emplacement pour détecter les caractéristiques de l'eau souterraine dans cette zone."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>3. {{ "Détermination type d'eau"|trans }} </b> <br>
                            {{ "Ils identifient avec une grande précision le type d'eau présente sous le sol, qu'il s'agisse d'eau douce, d'eau salée ou d'eau très salée."|trans }}


                        </p>
                        <p class="mb-4">
                            <b>4. {{ "Différents terrains"|trans }} </b> <br>
                            {{ "Nos appareils peuvent inspecter divers types de sols, y compris les sols rocheux, naturels, mixtes, minéralisés, argilo-sableux, etc."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>5. {{ "pourcentage rocheux"|trans }} </b> <br>
                            {{ "Ils sont capable de montrer la proportion de roches dans la zone de numérisation du sol. Cela peut être utile pour évaluer la composition du sol et la probabilité de trouver de l'eau potable."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>6. {{ "Image tridimensionnelle de haute qualité"|trans }}</b> <br>
                            {{ "Nous faisons une  représentation en 3D de la localisation de l'eau et des rochers dans la zone de recherche d'eau."|trans}}
                            {{ "Cela nous permet de visualiser plus clairement les caractéristiques du sous-sol."|trans }}
                        </p>
                        <p class="mb-4">
                            <b>7. {{ "Technologie avancée"|trans }} </b> <br>
                            {{ "Nous utilisons des technologies sophistiquées pour repérer et caractériser les sources d'eau souterraine, ce qui peut être précieux pour la recherche d'eau potable dans des contextes divers."|trans }}
                        </p></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}