{% extends 'layout.html.twig' %}
{% block title %} {{ "Potabilité"|trans }}  - Eau là là {% endblock %}
{% block potabilite %}active{% endblock %}

{% block body %}
    <div class="container-fluid banner d-flex justify-content-center align-items-center">
        <div class="container my-4 py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 shadow border-x-3 fs-5">
                        <h1 class="fw-bold text-center mb-5">
                            {{ "Potabilité"|trans }}
                        </h1>
                        <p>
                            {{"Il est crucial de n'utiliser que de"|trans }} <b>{{ "l'eau potable"|trans}}</b> {{ "notamment pour protéger"|trans }} <b>{{ "la santé humaine." |trans }}</b>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border-y-3 fs-5">
                        <p>
                          <b> {{"L'eau contaminée"|trans }} </b>{{" peut contenir des agents tels que des bactéries, des virus, des parasites et des produits chimiques nocifs."|trans }} <b>{{"La consommation "|trans }}</b> {{"ou l’utilisation d'eau contaminée au quotidien pour se laver ou laver la vaisselle peut entraîner des"|trans}} <b>{{ "maladies" |trans}}</b> {{" telles que la diarrhée, le choléra, la dysenterie et d'autres infections graves. En utilisant de l'eau potable, on réduit considérablement le risque de maladies liées à l'eau." |trans}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border-x-3 fs-5">
                        <p>
                            {{"L'eau utilisée pour"|trans }} <b>{{"l'irrigation"|trans}}</b> {{"des cultures et l'élevage d'animaux doit également être potable."|trans}}
                            {{ "Si l'eau utilisée dans ces processus est contaminée, elle peut entraîner"|trans}} <b>{{"la contamination des cultures"|trans}}</b> {{"et de notre nourriture, ce qui peut mettre en" |trans}} <b>{{"danger notre santé."|trans}}</b>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border-x-3 fs-5">
                        <p>
                            {{"En résumé, l'utilisation exclusive "|trans }} <b>{{"d'eau potable"|trans}} </b>{{" est essentielle pour garantir "|trans }}</b> <b>{{"la santé humaine."|trans}}</b>
                            {{"Il est impératif que les individus, les communautés et les gouvernements adoptent "|trans}} <b>{{"des pratiques responsables "|trans}}</b>{{"en matière d'utilisation de l'eau pour préserver le bien-être de ses habitants."|trans}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}