{% extends 'layout.html.twig' %}
{% block title %} {{ "Potabilité"|trans }}  - Eau là là {% endblock %}
{% block potabilite %}active{% endblock %}

{% block body %}
    <div class="container-fluid banner d-flex justify-content-center align-items-center">
        <div class="container my-4 py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 shadow border-x-3 fs-5">

                        <h3 class="text-center mb-5">
                            {{ "Potabilité"|trans }}

                        </h3>

                        <p>
                            {{ "Eaulàlà effectue"|trans }}
                            <b> {{ "des tests de potabilité de l'eau,"|trans }}</b>
                            {{ "offrant ainsi des services de pointe pour garantir la"|trans}} <b>{{ "qualité et la sécurité de l'eau potable"|trans }}</b>.
                            {{ "Grâce à notre expertise et à notre engagement envers la santé publique, nous fournissons des solutions de contrôle de la"|trans }} <b>{{ "qualité de l'eau"|trans }}</b> {{ "essentielles pour les collectivités, les entreprises et les particuliers."|trans }}
                        </p>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border-x-3 fs-5">

                        <p>
                            {{"Nos laboratoires de pointe sont équipés des"|trans }}<b> {{ "technologies les plus avancées"|trans }}</b> {{ "pour analyser une gamme complète de paramètres, des contaminants microbiologiques aux composés chimiques, afin de garantir que l'eau consommée est conforme aux"|trans }}<b> {{ "normes sanitaires en vigueur."|trans}}</b>
                            {{"Nous sommes fiers de contribuer à la"|trans }}<b> {{ "protection de la santé de nos clients"|trans }}</b> {{ " en assurant la"|trans }}<b> {{ "potabilité de l'eau"|trans }}</b>{{ ", et nous nous engageons à fournir des résultats précis et fiables pour répondre à leurs besoins."|trans}}
                        </p>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-blanc-8 p-5 mt-5 shadow border-x-3 fs-5">

                        <p>
                            {{"Chez Eaulàlà, la qualité est notre priorité, et notre équipe de professionnels qualifiés travaille avec dévouement pour garantir que chaque"|trans }}<b> {{ "échantillon d'eau"|trans }}</b> {{ "est soumis à des procédures rigoureuses d'"|trans }}<b>{{ "analyse et de contrôle"|trans}}</b>.
                            {{"Nous collaborons étroitement avec les autorités réglementaires et les organismes de santé pour nous assurer que nos services sont en conformité avec les normes en constante évolution."|trans}}
                            {{"Que ce soit pour les usines de traitement de l'eau, les organismes gouvernementaux, ou les propriétaires privés, Eaulàlà est le partenaire de confiance pour s'assurer que"|trans }}<b> {{ "l'eau"|trans }}</b> {{ " que nous consommons est"|trans }}<b> {{ "pure, saine et de haute qualité"|trans}}</b>.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}