<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Eaulàlà - {{ "Révolutionne l'accès à l'eau potable"|trans }} {% endblock %}</title>

    <!-- Favicon -->
    <link href="{{ asset('images/eaulala.ico') }}" rel="icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.compat.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    {% block photobox_css %}
    {% endblock %}
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-secondaire sticky-top p-0">
    <a href="{{ path('Accueil')}}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="{{ asset('images/eaulala-logo.png') }}" alt="Logo" class="logo">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#main-nav">
        <i class="fa fa-bars fa-lg"></i>
    </button>
    <div class="collapse navbar-collapse pe-5" id="main-nav">
        <div class="navbar-nav ms-auto d-flex align-items-center p-4 p-lg-0">
            <a href="{{ path('Accueil') }}" class="nav-item nav-link {% block home %} {% endblock %}">{{ "Accueil"|trans }}</a>
            <a href="{{ path('Potabilite') }}" class="nav-item nav-link {% block potabilite %} {% endblock %}">{{ "Potabilité"|trans }}</a>
            <a href="{{ path('Nappe') }}" class="nav-item nav-link {% block nappe %} {% endblock %}">{{ "Nappe"|trans }}</a>
            <a href="{{ path('Forage') }}" class="nav-item nav-link {% block forage %} {% endblock %}">{{ "Forage"|trans }}</a>
            <a href="{{ path('Distribution') }}" class="nav-item nav-link {% block distribution %} {% endblock %}">{{ "Distribution"|trans }}</a>
            <a href="{{ path('Client') }}" class="nav-item nav-link {% block client %} {% endblock %}">{{ "Clients"|trans }}</a>
            <a href="{{ path('Faq') }}" class="nav-item nav-link {% block faq %} {% endblock %}">{{ "FAQ"|trans }}</a>
            <a href="{{ path('About') }}" class="nav-item nav-link {% block about %} {% endblock %}">{{ "A propos"|trans }}</a>
            <a href="{{ path('Contact') }}" class="nav-item nav-link {% block contact %} {% endblock %}">{{ "Contact"|trans }}</a>
        </div>
    </div>
    <button id="changelang" class="lang-button me-5">
    </button>
</nav>
<audio id="myAudio" controls autoplay loop>
    <source src="/images/son.mp3" type="audio/mpeg">
</audio>
<div  id="btnsound">
    <button type="button" class="mutesound"  title='deactiver le son' onclick="soundoff()">
        <i class="fa-solid fa-volume-xmark"></i>
    </button>
</div>
<!-- Navbar End -->
{% block body %}


{% endblock %}

<footer class="text-secondaire">
    <div class="container-fluid footer pt-3">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">{{ "Contact"|trans }}</h4>
                    <p class="mb-1 fw-medium">
                        <i class="fa fa-map-marker-alt fa-lg me-2 text-white"></i>
                         Yaoundé, Cameroun
                    </p>
                    <p class="mb-0">
                        <a href="tel:+237693613696" class="footer-link">
                            <i class="fa fa-phone fa-lg me-2 text-white"></i>
                            +237 6 93 61 36 96
                        </a>
                    </p>
                    <p class="mb-0">
                        <a href="tel:+237674771639" class="footer-link">
                            <i class="fa fa-phone fa-lg me-2 text-white"></i>
                            +237 6 74 77 16 39
                        </a>
                    </p>
                    <p class="mb-0">
                        <a href="tel:+237655064248" class="footer-link">
                            <i class="fa fa-phone fa-lg me-2 text-white"></i>
                            +237 6 55 06 42 48
                        </a>
                    </p>
                    <p class="mb-0">
                        <a href="tel:+237698390049" class="footer-link">
                            <i class="fa fa-phone fa-lg me-2 text-white"></i>
                            +237 698 39 00 49
                        </a>
                    </p>
                    <p class="mb-0">
                        <a href="mailto:alwayseaulala@gmail.com" class="footer-link">
                            <i class="fa fa-envelope fa-lg me-2 text-white"></i>
                            alwayseaulala@gmail.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">{{ "Liens utiles"|trans}}</h4>
                    <a class="btn btn-link" href="{{ path('About')}}">{{ "A propos"|trans}}</a>
                    <a class="btn btn-link" href="{{ path('Gallery') }}">{{ "Galerie"|trans}}</a>
                    <a class="btn btn-link" href="{{ path('Carriere') }}">{{ "Carrière"|trans}}</a>
                    <a class="btn btn-link" href="{{ path('Contact')}}">{{ "Contact"|trans}}</a>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">{{ "Réseaux sociaux"|trans}}</h4>
                    <div class="row">
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-facebook">
                                    Eau là là
                                </span>
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-twitter">
                                    Eau là là
                                </span>
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-instagram">
                                    Eau là là
                                </span>
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-youtube">
                                    Eau là là
                                </span>
                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-linkedin">
                                    Eau là là
                                </span>
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 position-relative">
                    <h4 class="footer-tittle">Newsletter</h4>
                    <p class="mb-3">
                        {{ "Abonnez-vous à notre liste de diffusion pour recevoir les dernières actualités"|trans }}
                    </p>
                    <div class="subcriber-box">
                        <form id="nl-form" class="mc-form">
                            <div class="newsletter-form">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="{{"Adresse email"|trans}}" aria-label="Adresse email" aria-describedby="email">
                                    <span class="input-group-text" id="email">
                                        <i class="fa fa-paper-plane"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Eaulàlà, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-secondaire footer-shape position-relative text-center text-md-end">
                <p class="mb-0 text-primaire">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>

</footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="back-to-top">
    <i class="fa-solid fa-chevron-up"></i>
</a>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
{% block photobox_js %}
{% endblock %}
<!-- Main Javascript -->
<script src="{{ asset('js/main.js')}}"></script>
{#<script src="{{ asset('js/main.min.js')}}"></script>#}
<script>
    window.onload = function () {
        document.getElementById("myAudio").play();
    }

    function soundoff() {
        document.getElementById("myAudio").pause();
        btnsound();
    }

    function btnsound() {
        $("#btnsound").html("<button type=\"button\" class=\"mutesound\" title='activer le son' onclick=\"playsound()\">\n" +
            "        <i class=\"fa-solid fa-volume-high\"></i>\n" +
            "    </button>");

    }
    function playsound() {
        document.getElementById("myAudio").play();
        btnsoundoff();
    }

    function btnsoundoff() {
        $("#btnsound").html("<button type=\"button\" class=\"mutesound\"  title='deactiver le son' onclick=\"soundoff()\">\n" +
            "        <i class=\"fa-solid fa-volume-xmark\"></i>\n" +
            "    </button>");

    }
</script>
</body>
</html>