<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <link href="{{ asset('lib/fontawesome/css/all.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>Eaulala</title>

</head>
<body>
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-primaire navbar-light sticky-top p-0">
    <a href="{{ path('Accueil')}}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 logo fw-bold">
            <i class="fa-solid fa-staff-snake fa-lg me-2"></i>EAU LA LA
        </h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#main-nav">
        <i class="fa fa-bars fa-lg"></i>
    </button>
    <div class="collapse navbar-collapse pe-5" id="main-nav">
        <div class="navbar-nav ms-auto d-flex align-items-center p-4 p-lg-0">
            <a href="{{ path('Accueil')}}" class="nav-item nav-link {% block home %} {% endblock %}">{{ "Accueil"|trans }}</a>
            <a href="#" class="nav-item nav-link {% block Potabilite %} {% endblock %}">{{ "Potabilite"|trans }}</a>
            <a href="#" class="nav-item nav-link {% block nap %} {% endblock %}">{{ "Nappe"|trans }}</a>
            <a href="#" class="nav-item nav-link {% block forage %} {% endblock %}">{{ "Forage"|trans }}</a>
            <a href="#" class="nav-item nav-link {% block distribution %} {% endblock %}">{{ "Distribution"|trans }}</a>
            <a href="#" class="nav-item nav-link {% block client %} {% endblock %}">{{ "Clients"|trans }}</a>
            <a href="{{ path('About')}}" class="nav-item nav-link {% block about %} {% endblock %}">{{ "A propos"|trans }}</a>
            <a href="{{ path('Carriere')}}" class="nav-item nav-link {% block faq %} {% endblock %}">{{ "FAQ"|trans }}</a>
            <a href="{{ path('Contact')}}" class="nav-item nav-link {% block contact %} {% endblock %}">{{ "Contact"|trans }}</a>
            <button id="changelang" class="lang-button">
            </button>
        </div>
    </div>
</nav>
<!-- Navbar End -->
{% block body %}

    <section class=" banner d-flex justify-content-center align-items-center pt-5">
        <div class="container my-5 py-5">
            <div class="row">
                <div class="col-lg-5 d-flex align-items-center">
                    <div class="py-5">
                        <p class="py-5">Amgaka</p>
                        <h3>
                            Faites vous comprendre en <br>

                        </h3>
                        <h3 class="py-2">
                            n'importe quel langue du monde
                        </h3>

                        <p>

                            Exprimez vous desormais dans la langue de votre choix tout en vous <br>faisant comprendre par
                            tout interlocuteur quelle que soit sa langue
                        </p>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="ai">
                        <img src="assets/img/telephone.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container-fluid bg-light ">
        <div class="row position-relative">
            <div class="col-lg-6">
                <img src="assets/img/photo2.png" class="img-fluid   start-0" alt="...">
            </div>
            <div class="col-lg-6">
                <div class="cls shadow p-5 rounded-4 position-absolute">
                    <h5>A propos de Amgaka</h5>
                    <h5>
                        Besoin de se faire comprendre par une personne <br>
                        parlant une langue autre que la votre
                    </h5>
                    <br>
                    <p>
                        Prêt à embrasser un monde sans barrières linguistiques ? Téléchargez notre application
                        d’interprètation live dès aujourd’hui et découvrez la liberté de communiquer sans limites.
                        Éliminez
                        les barrières linguistiques et débloquez de nouvelles opportunités à chaque conversation. Il est
                        temps de se connecter, de comprendre et de prospérer. Commencez <br> maintenant!
                    </p>

                    <a class="btn btn-order rounded-5" href="#">Lire plus</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row position-relative">
            <div class="col-lg-6">
                <img src="assets/img/photo2.png" class="img-fluid image2 position-absolute" alt="...">
                <img src="assets/img/photo3.png" class="img-fluid image3 position-relative" alt="...">
            </div>
            <div class="col-lg-6">
                <div class=" p-5 ">
                    <h5>Pourquoi nous choisir</h5>
                    <h5>
                        Nous offrons la meilleur <br>
                        experience
                    </h5>
                    <br>
                    <p>
                        Vous organisez une conférence ou un colloque et recevez des visiteurs étrangers ? Votre
                        prochaine
                        réunion de travail avec vos clients chinois se tient dans vos locaux en France ? Vous avez
                        besoin
                        d’être accompagné dans vos négociations commerciales internationales par un interprète anglais ?
                        Amgaka vous propose ses services d’interprétation professionnelle, pour des échanges fluides et
                        compréhensibles par tous.
                    </p>

                    <a class="btn btn-order rounded-5" href="#">Lire plus</a>

                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-light p-5">
        <div class="row">
            <div class="col-lg-4">
                <h4>Notre offre</h4>
                <h1>Profitez de nos <br> fonctionnalites <br> speciales</h1>
                <p>Interprétation professionnelle de tous vos événements</p>
                <a class="btn btn-order rounded-5" href="#">Ouvrir mon compte</a>
            </div>
            <div class="col-lg-8">
                <div class="row  gx-5">
                    <div class="col-lg-6">
                        <div class="bloc mb-5 rounded-3 p-3">
                            <i class="fa fa-user-check fa-3x"></i>
                            <h5 class="text-center">Verification du profil</h5>
                            <p class="text-center">Les comptes interprètes sont au préalables contrôlés et authentifiés
                                avant publication sur le
                                site
                            </p>
                        </div>
                        <div class="bloc mb-5 rounded-3 p-3">
                            <i class="fa fa-user-check fa-3x"></i>
                            <h5 class="text-center">Verification du profil</h5>
                            <p class="text-center">Les comptes interprètes sont au préalables contrôlés et authentifiés
                                avant publication sur le
                                site
                            </p>
                        </div>
                        <div class="bloc mb-5 rounded-3 p-3">
                            <i class="fa fa-user-check fa-3x"></i>
                            <h5 class="text-center">Verification du profil</h5>
                            <p class="text-center">Les comptes interprètes sont au préalables contrôlés et authentifiés
                                avant publication sur le
                                site
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloc mb-5 rounded-3 p-3 fle align-items-center">
                            <i class="fa fa-user-check fa-3x"></i>
                            <h5 class="text-center">Verification du profil</h5>
                            <p class="text-center">Les comptes interprètes sont au préalables contrôlés et authentifiés
                                avant publication sur le
                                site
                            </p>
                        </div>
                        <div class="bloc mb-5 rounded-3 p-3">
                            <i class="fa fa-user-check fa-3x"></i>
                            <h5 class="text-center">Verification du profil</h5>
                            <p class="text-center">Les comptes interprètes sont au préalables contrôlés et authentifiés
                                avant publication sur le
                                site
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-6">
                <h5>FAQ</h5>
                <h1>Foire aux <br> questions</h1>
                <p>Réponses a interrogations courantes que vous pouvez avoir</p>
                <a class="btn btn-order rounded-5" href="#">Tout voir</a>
            </div>
            <div class="col-lg-6 ">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed btn-order" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                Quel est l'objet de cette application d'interpretation ?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <p>Cette application est conçue pour faciliter la communication entre des particuliers, des
                                    entreprises ou des organisations parlant des langues différentes à l'aide des services
                                    d'interprètes professionnels et des passionnés de langues.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed btn-order" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                Comment l'application fonctionne-t-elle pour les clients qui cherchent a embaucher des
                                interpretes ?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>Les clients peuvent s'inscrire, spécifier leurs besoins linguistiques, le lieu et les
                                    détails de l'événement. L'application les met alors en relation avec les interprètes
                                    disponibles qui répondent à leurs critères. Les clients peuvent consulter les profils et
                                    engager des interprètes en fonction de leurs préférences.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed btn-order" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                Quelles sont les langues prises en charge par l'application ?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>L'application prend en charge un large éventail de langues, y compris des langues
                                    couramment parlées et des dialectes moins courants. La liste exacte des langues prises
                                    en charge peut varier en fonction de la disponibilité des interprètes dans votre
                                    région.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed btn-order" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapsefor" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapsefor">
                                Comment les interpretes sont-ils selectionnes pour leur qualite et leur professionnalisme ?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapsefor" class="accordion-collapse collapse ">
                            <div class="accordion-body">
                                <p>Les interprètes présents sur notre plateforme font l'objet d'un processus de sélection
                                    rigoureux. Nous vérifions leurs qualifications, leurs certifications et leur expérience
                                    professionnelle. Les commentaires et les évaluations des clients contribuent également à
                                    garantir la qualité.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid p-5 bannere mb-5">
        <div class="row">
            <div class="col-lg-12">
                <p class=" text-center">Débloquer un monde de communication</p>
                <h1 class="text-center">
                    Abonnez-vous à Amgaka pour bénéficier de l'interprétation en direct et d'avantages de premier ordre

                </h1>


                <p class="text-center">
                    Libérez la puissance de la communication sans frontières en vous abonnant à Amgaka.
                </p>
            </div>
            <div class="col-lg-4 col-md-12 ">
                <div class="bloc-blanc mb-5 rounded-3 p-5 text-center">
                    <div class="bloc-header-orange">
                        <h2>Basic</h2>
                    </div>
                    <div class="bloc-header-orange">
                        <h2 class="mt-3">₣CFA

                            5k

                            /mois

                            Facturé 80 ₣CFA par an
                        </h2>

                    </div>
                    <p class="mt-3">Fonctionnalité déverrouillée :

                        Recherche des interprètes


                    </p>
                    <a class="btn btn-order rounded-5 " href="#">Achetez maintenant</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 ">
                <div class="bloc mb-5 rounded-3 p-5 text-center">
                    <div class="bloc-header">
                        <h2>Basic</h2>
                    </div>
                    <div class="bloc-header">
                        <h2 class="mt-3">₣CFA

                            5k

                            /mois

                            Facturé 80 ₣CFA par an
                        </h2>

                    </div>
                    <p class="mt-3">Fonctionnalité déverrouillée :

                        Recherche des interprètes


                    </p>
                    <a class="btn btn-order-orange rounded-5 " href="#">Achetez maintenant</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 ">
                <div class="bloc-blanc mb-5 rounded-3 p-5 text-center">
                    <div class="bloc-header-orange">
                        <h2>Basic</h2>
                    </div>
                    <div class="bloc-header-orange">
                        <h2 class="mt-3">₣CFA

                            5k

                            /mois

                            Facturé 80 ₣CFA par an
                        </h2>

                    </div>
                    <p class="mt-3">Fonctionnalité déverrouillée :

                        Recherche des interprètes


                    </p>
                    <a class="btn btn-order rounded-5 " href="#">Achetez maintenant</a>
                </div>
            </div>
        </div>


    </div>

    <div class="container-fluid p-5 pepeline mb-5  align-items-center">
        <div class="row">
            <div class="col-lg-12 text-center ">
                <p>Newsletter</p>
                <h1>Restez à jour</h1>
                <p>Souscrire a notre NewsLetter et restez scotché tout en suivant tous nos événements et en étant informés
                    de tous nos offres.</p>


                <div>
                    <form>

                        <input type="email" id="email" name="email" required placeholder="Votre email"
                               class="rounded-4 email">
                        <button type="submit" class="btn-order rounded-4">Souscrire</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


<footer class="text-light">
    <div class="container-fluid footer pt-3">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ "Contact"|trans }}</h4>
                    <p class="mb-2 fw-medium">
                        <i class="fa fa-map-marker-alt fa-lg me-2 text-secondaire"></i>
                        BP 15746 Douala Akwa, Cameroun
                    </p>
                    <p class="mb-2">
                        <a href="tel:+237621117743" class="footer-link fw-medium">
                            <i class="fa fa-phone fa-lg me-2 text-secondaire"></i>
                            +237 6 21 11 77 43
                        </a>
                    </p>
                    <p class="mb-2">
                        <a href="mailto:lnatlantiscameroon@gmail.com" class="footer-link fw-medium">
                            <i class="fa fa-envelope fa-lg me-2 text-secondaire"></i>
                            info@gntpharma.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ "Liens utiles"|trans}}</h4>
                    <a class="btn btn-link" href="{{ path('About')}}">{{ "A propos"|trans}}</a>
                    {#                    <a class="btn btn-link" href="#">{{ "Metiers"|trans}}</a>#}
                    <a class="btn btn-link" href="#">{{ "Actualité et événements"|trans}}</a>
                    <a class="btn btn-link" href="#">{{ "Commande"|trans}}</a>
                    <a class="btn btn-link" href="{{ path('Contact')}}">{{ "Contact"|trans}}</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ "Réseaux sociaux"|trans}}</h4>
                    <div class="row">
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-facebook">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-twitter">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-instagram">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-youtube">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-linkedin">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">Newsletter</h4>
                    <p class="mb-3">
                        {{ "Abonnez-vous à notre liste de diffusion pour recevoir les dernières actualités"|trans }}
                    </p>
                    <div class="subcriber-box">
                        <form id="nl-form" class="mc-form">
                            <div class="newsletter-form">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Adresse email" aria-label="Adresse email" aria-describedby="email">
                                    <span class="input-group-text" id="email">
                                        <i class="fa fa-paper-plane"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Eau La La, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-secondaire footer-shape position-relative text-center text-md-end">
                <p class="mb-0 text-primaire">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

{#<!-- Back to Top -->#}
{#<a href="#" class="btn btn-lg back-to-top">#}
{#    <i class="fa-solid fa-chevron-up"></i>#}
{#</a>#}


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
</body>
</html>