{% extends 'layout.html.twig' %}

{% block home %}active{% endblock %}

{% block body %}

    <!--PreLoader Ends-->

    <!-- Header Start -->
    <div class="container-fluid p-0 mb-lg-5">
        <div id="header-carousel" class="carousel header-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative active">
                    <div class="carousel-img slide_1 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {#                                        <span class="text-primaire">{{ "la sécurité et la santé"|trans}}</span> {{ "de nos clients demeure notre"|trans}} <span class="text-primaire">{{ "priorité principale"|trans }}</span>#}
                                        La <span class="text-primaire">sécurité</span> et la <span
                                                class="text-primaire">santé</span> {{ "de nos clients demeure notre"|trans }}
                                        <span class="text-primaire">priorité</span> principale.
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_3 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Avec Eaulala, vous avez"|trans }} <span
                                                class="text-primaire">{{ "l'assurance"|trans }}</span> {{ "que votre"|trans }}
                                        <span class="text-primaire">{{ "source d'eau"|trans }}</span> {{ "est dépourvue de tout risque microbiologique"|trans }}
                                    </h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <div class="carousel-img slide_2 animated fadeInLeft">
                    </div>
                    <div class="carousel-overlay">
                        <div class="container mt-md-5">
                            <div class="row justify-content-center mt-md-5 text-center">
                                <div class="container">
                                    <h1 class="font-slide text-light fw-bold mb-4 animated fadeInDownBig delay-05s">
                                        {{ "Nous"|trans }} <span
                                                class="text-primaire">{{ "garantissons"|trans }}</span> {{ "la conformité aux normes les plus strictes en matière de"|trans }}
                                        <span class="text-primaire">{{ "qualité de l'eau"|trans }}</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" aria-label="Slide 1"
                        class="active" aria-current="true"></button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-control">
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-fluid py-4 mt-lg-5 mb-5">
        <div class="container mt-lg-5">
            <div class="row g-4">
                <div class="col-lg-6 wow animated fadeInLeft text-center" data-wow-delay="0.1s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/galerie/about_1.jpg') }}" alt="A propos">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="row g-4">
                        <div class="col-12 wow animated fadeInRight" data-wow-delay="0.9s">
                            <div class="p-4 shadow border-y-1">
                                <h2 class="section-title bg-white text-lg-start mb-3">
                                    {{ "Qui sommes-nous"|trans }}
                                </h2>
                                <p class="fs-5 mb-3">
                                    {{ "Dans un monde en constante évolution, où les défis environnementaux et sociaux semblent se multiplier, l'accès à l'eau potable demeure un besoin essentiel et non négociable pour chaque individu."|trans }}
                                    {{ "C'est dans ce contexte que l'entreprise EAULALA s'est engagée à voler au secours des populations en leur procurant une eau potable de qualité supérieure, et ce, de manière durable et responsable."|trans }}
                                </p>
                                <a class="btn btn-primaire btn-effect p-3" href="{{ path('About') }}">
                                    {{ "En savoir plus ..."|trans }}
                                </a>
                            </div>

                        </div>
                        <div class="col-md-12 wow animated fadeInUp" data-wow-delay="1.0s">
                            <div class="bg-primaire h-100  p-4">
                                {{ "Forte de sa vision humaniste, EAU LA LA s'est donné pour mission de relever les défis liés à l'eau et de soulager les communautés en situation de crise."|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid banner d-flex justify-content-center align-items-center">
        <div class="container my-4 py-5">
            <div class="row">
                <div class="col-lg-5">
                    <div class="bg-blanc-8 p-5 shadow border-y-2">

                        <h3 class="text-center mb-5">
                            {{ "Potabilite"|trans }}

                        </h3>

                        <p class="fs-5">
                            {{ "Eaulala effectue"|trans }}
                            <b> {{ "des tests de potabilité de l'eau,"|trans }}</b>
                            {{ "offrant ainsi des services de pointe pour garantir la"|trans}} <b>{{ "qualité et la sécurité de l'eau potable"|trans }}</b>.
                            {{ "Grâce à notre expertise et à notre engagement envers la santé publique, nous fournissons des solutions de contrôle de la"|trans }} <b>{{ "qualité de l'eau"|trans }}</b> {{ "essentielles pour les collectivités, les entreprises et les particuliers."|trans }}
                        </p>
                        <a class="btn btn-primaire" href="#"> decouvrir</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid py-4 mb-5 nappe">
        <div class="container my-5">
            <div class="row g-4">

                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100  bg-white shadow border-y-1">
                        <h2 class="section-title bg-white text-lg-start mb-3">
                            {{ "Nappe d'eau potable"|trans }}
                        </h2>
                        <p class="fs-5 mb-4">
                            {{"Chez Eau LA LA nous disposons d'"|trans}}<b>{{ "appareils de détection de nappe d'eau potable"|trans}}</b> {{ " équipés de capteurs sophistiqués qui vont "|trans}}<b> {{ " jusqu'a 1 500 a 3 000 metres de profondeur a la recherche d'eau potable."|trans}}</b><br>
                            {{ "Ainsi nos appariels ne"|trans}} <b>{{ "se limitent pas a la nappe phreatique et  vont jusqu'a la nappe equifere pour trouver de l'eau potable"|trans}}</b>  <br>
                            {{"Notre entreprise utilise des"|trans}} <b>{{ "techniques de pointe pour cartographier et identifier les nappes d'eau potable"|trans}}</b>, {{ "garantissant ainsi un approvisionnement en"|trans}} <b>{{ " eau fiable et durable"|trans}} </b>{{ "pour une variété d'applications."|trans}}
                        </p>
                        <a class="btn btn-primaire btn-effect p-3" href="{{ path('About') }}">
                            {{ "En savoir plus ..."|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft text-center" data-wow-delay="0.3s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/galerie/2.jpg') }}" alt="nappe d'eau potable">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 mb-5">
        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInLeft text-center" data-wow-delay="0.3s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-x-1 fit-cover"
                             src="{{ asset('images/forage.avif') }}" alt="nappe d'eau potable">
                    </div>

                </div>

                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100 border-top-right-1 bg-white">
                        <h2 class="section-title text-lg-start mb-3">
                            {{ "Forage d'eau potable"|trans }}
                        </h2>
                        <p class="fs-5 mb-3">
                            {{ "Dans un monde en constante évolution, où les défis environnementaux et sociaux semblent se multiplier, l'accès à l'eau potable demeure un besoin essentiel et non négociable pour chaque individu."|trans }}
                            {{ "C'est dans ce contexte que l'entreprise EAULALA s'est engagée à voler au secours des populations en leur procurant une eau potable de qualité supérieure, et ce, de manière durable et responsable."|trans }}
                        </p>
                        <a class="btn btn-primaire btn-effect p-3" href="{{ path('About') }}">
                            {{ "En savoir plus ..."|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 mb-5">
        <div class="container my-5">
            <div class="row g-4">

                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">

                    <div class="p-4 h-100 border-bottom-left-1 bg-white">
                        <h2 class="section-title text-lg-start mb-3">
                            {{ "Distribution d'eau potable"|trans }}
                        </h2>
                        <p class="fs-5 mb-3">
                            {{ "Dans un monde en constante évolution, où les défis environnementaux et sociaux semblent se multiplier, l'accès à l'eau potable demeure un besoin essentiel et non négociable pour chaque individu."|trans }}
                            {{ "C'est dans ce contexte que l'entreprise EAULALA s'est engagée à voler au secours des populations en leur procurant une eau potable de qualité supérieure, et ce, de manière durable et responsable."|trans }}
                        </p>
                        <a class="btn btn-primaire btn-effect p-3" href="{{ path('About') }}">
                            {{ "En savoir plus ..."|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft text-center" data-wow-delay="0.3s">
                    <div class="h-100">
                        <img class="w-100 h-100 border-bottom-left-1 fit-cover"
                             src="{{ asset('images/distribution.avif') }}" alt="nappe d'eau potable">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid client-banner wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                        <div class="client-inner my-5 py-3 pe-5  animated slideInLeft" data-wow-delay="0.2s">
                            <div class="text-center mb-5 mt-5 animated slideInLeft" data-wow-delay="0.3s">
                                <h1 class="text-center text-white px-3">
                                    {{ "Clients"|trans }}
                                </h1>
                            </div>
                            <div class="ms-lg-5 ms-md-4 ms-3">
                                <p class="fs-5 pe-5 wow fadeInLeft" data-wow-delay="0.5s">
                                    {{ "Chez GNT Pharma, nous croyons fermement que la réussite d'une entreprise repose sur une culture d'entreprise solide et sur le bien-être de ses employés."|trans }}
                                </p>
                                <p class="fs-5 pe-5 wow fadeInLeft" data-wow-delay="0.7s">
                                    {{ "Notre culture est façonnée par des valeurs fondamentales et une vision commune, créant un environnement de travail dynamique et positif où chaque employé peut s'épanouir."|trans }}
                                </p>
                                <div class="text-center">
                                    <a class="btn btn-light btn-effect mt-5 mb-5" href="{{ path('Carriere') }}">
                                        {{ "Plus de détails ..."|trans }}
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- row -->
    </div>

    <!-- Gallery End -->

{% endblock %}